<div>CONSUMING HOST</div>

<div class="example">
  <div class="example-title">Simple example</div>
  <app-example-simple/>
</div>

<div class="example">
  <div class="example-title">Enhanced example 2222</div>
  <app-example-enhanced remoteName="mfe-exposing-remote-2222" exposedModule="MySharedLib2222"
                        serviceName="MyRemote2222Service" componentName="MyRemote2222Component"/>
</div>

<div class="example">
  <div class="example-title">Enhanced example 3333</div>
  <app-example-enhanced remoteName="mfe-exposing-remote-3333" exposedModule="MySharedLib3333"
                        serviceName="MyRemote3333Service" componentName="MyRemote3333Component"/>
</div>
