<div>CONSUMING HOST</div>

<div class="example">
  <div class="example-title">Simple example</div>
  <app-example-simple/>
</div>

<div class="example">
  <div class="example-title">Enhanced example 2222</div>
  <app-example-enhanced remoteName="mfe-exposing-remote-2222" exposedModule="./MySharedLib"
                        serviceName="MyRemoteService" componentName="MyRemoteComponent"/>
</div>

<div class="example">
  <div class="example-title">Enhanced example 3333</div>
  <app-example-enhanced remoteName="mfe-exposing-remote-3333" exposedModule="./MySharedLib"
                        serviceName="MyRemoteService" componentName="MyRemoteComponent"/>
</div>
